.formWithImage__wrapper {
  display: flex;
  justify-content: space-between;
}

.formWithImage__image {
  max-width: 50%;
}

.formWithImage__picture {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

@media (max-width: 960px) {
  .formWithImage__image {
    display: none;
  }
}

@media (max-width: 660px) {
  .formWithImage__image {
    display: none;
  }

  .formWithImage__wrapper {
    flex-direction: column;
    width: 100%;
  }
}
