.formModal__content {
  width: 100%;
  max-width: 600px;
}

.formModal__content .form__container {
  padding: 0;
  border-bottom: none;
  margin-bottom: 0;
}

.formModal__content .form__box {
  width: 100%;
}

.formModal__content .form__form-title {
  font-size: 32px;
  margin-bottom: 20px;
}

@media (max-width: 660px) {
  .formModal__content .form__form-title {
    font-size: 24px;
  }
}
