.footer__form-btn {
    background: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    border: 2px solid #fedc5a;
    border-radius: 8px;
    white-space: nowrap;
    padding: 16px 32px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.footer__form-btn:hover {
    cursor: pointer;
    background: #fedc5a;
}

@media (max-width: 960px) {
    .footer__form-btn {
        padding: 8px 16px;
    }
}

@media (max-width: 660px) {

    .footer__form-btn {
        padding: 16px 32px;
    }
}