.developmentPage__container {
    width: 100%;
}

.developmentPage__box {
    position: relative;
    display: flex;
    flex-direction: column; /* добавь */
    justify-content: flex-start; /* если нужно выравнивание по верху */
    align-items: center;
    width: 100%;
}

.developmentPage__wrapper {
    display: flex;
    justify-content: space-between;
}

.developmentPage__image {
    max-width: 50%;
}

.developmentPage__picture {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.websitePage__header-banner {
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 110%;
    color: #000000;
    margin: 0;
}

.developmentPage__txt {
    margin-bottom: 82px;
    font-size: 19px;
    color: #666;
}

@media (max-width: 960px) {
  .websitePage__header-banner {
    font-size: 48px;
  }

  .developmentPage__txt {
    line-height: 1.3;

    .developmentPage__image {
      display: none;
    }
  }
}
    @media (max-width: 660px) {
        .websitePage__header-banner {
            font-size: 32px;
        }
        .developmentPage__image {
            display: none;
        }
        .developmentPage__wrapper {
            flex-direction: column;
            width: 100%;
        }
    }