.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  overflow: auto;
  z-index: 999;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal-container {
  width: 45%;
  max-width: 600px;
  min-height: 268px;
  margin-left: 0;
  margin-right: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 16px;
  overflow: hidden;
}

.modal__close-bth {
  position: absolute;
  right: 30px;
  top: 15px;
  background: none;
  border-style: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 51px 26px;
  padding-bottom: 100px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.modal__content-back {
  display: none;
}

.modal__content-box {
  width: 277px;
  margin-bottom: 48px;
}

.modal__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}

.modal__list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal__item {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  padding-bottom: 8px;
}

.modal__item-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000000;
  width: auto;
}

.modal__item:hover .modal__item-link {
  color: #fedc5a;
}

.modal__item:hover .modal__item-link-img {
  filter: invert(70%);
}

.modal__header {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: #cfcdcd;
  margin: 0;
  margin-bottom: 15px;
}

.modal__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000000;
}

.modal__link:hover {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fedc5a;
}

/* Планшет */
@media (max-width: 960px) {
  .modal-container {
    width: 60%;
    max-width: 60%;
    min-height: 268px;
    margin-left: 0;
    margin-right: 0;
    background-color: #ffffff;
    box-sizing: border-box;
  }
}

/* Телефон */
@media (max-width: 660px) {
  .modal-container {
    width: 90%;
    max-width: 90%;
  }

  .modal__content-back-text {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 110%;
    color: #000000;
  }

  .modal__content {
    padding: 32px;
  }

  .modal__header {
    font-size: 20px;
  }
}
