.writeToTheDirector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  background-color: #292929;
}

.writeToTheDirector__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

.writeToTheDirector__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  text-decoration-line: underline;
  color: #ffffff;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

.writeToTheDirector__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  text-decoration-line: underline;
  text-transform: uppercase;

  background: none;
  color: #ffffff;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
