.nopage__container {
    position: relative;
    padding-top: 96px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 64px;
}

.nopage__container--title {
    font-size: 96px;
    text-align: center;
}

.nopage__container--content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nopage__container--info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.nopage__container--image {
    max-width: 50%;
}

@media screen and (max-width:960px) {
    .nopage__container--title {
        font-size: 48px;
    }
    .nopage__container--image {
        display: none;
    }
    .nopage__container--info {
        width: 100%;
    }
}